<h1 *ngIf="!deviceService.isMobile() && !deviceService.isTablet()" class="title">Processes</h1>
<p>
  <mat-tab-group>
    <mat-tab [disabled]="candidate.processesNewCount <= 0" label="New ({{candidate.processesNewCount}})">
      <app-process-list [type]="1"></app-process-list>
    </mat-tab>
    <mat-tab [disabled]="candidate.processesAcceptedCount <= 0" label="Accepted ({{candidate.processesAcceptedCount}})">
        <app-process-list [type]="2"></app-process-list>
    </mat-tab>
    <mat-tab [disabled]="candidate.processesAllCount <= 0" label="All ({{candidate.processesAllCount}})">
        <app-process-list [type]="null"></app-process-list>
    </mat-tab>
  </mat-tab-group>
</p>
