.status-box-wrapp .status-box{float: right;}
.item-wrapp{border: 2px solid #EBEBEB;border-radius: 5px;padding: 25px 30px;margin: 25px 0; background-color: #FFF}
.mobile .item-wrapp{padding: 25px 15px;}
.title{font-size: 18px; color: #1DA0C6; margin-top: 0;margin-bottom: 10px;position: relative;}
.title-text{position: absolute; bottom: 0; left: 0}
.company-name{font-size: 16px; font-weight: bold; margin-bottom: 7px;}
.date-added{color: #BCC7D4; margin-bottom: 15px;}
.techs{padding-left: 0;float: left;margin-top: 15px;}
.tech{background-color: #F8F8F8; font-size: 12px; padding: 3px 10px; border: 2px solid #EBEBEB; border-radius: 14px; margin-right: 10px; margin-bottom: 10px;}
.expectations{padding-right: 45px;}
.expectations-wrapp{margin-bottom: 10px;}
.expectations .expectations-value{font-size: 15px; font-weight: bold;}
.expectations .expectations-title{color: #ABB5B4; margin-bottom: 5px;}
.fulfillment{justify-content: center; height: 45px;}
.fulfilled{color: #17C48A;}
.unfulfilled{color: #F8526D;}
.buttons-wrapp{padding: 0; padding-top: 40px; margin-top: 20px;}
.buttons-wrapp .btn-primary{margin-bottom: 10px;}

@media (max-width: 1024px) {
  .expectations{padding-right: 0;}
}
@media (max-width: 768px) {
  .buttons-wrapp{padding-top: 0;}
  .company-name{margin-bottom: 25px;}
  .expectations{padding-right: 0;}
  .buttons-wrapp .btn-primary{margin-bottom: 0;}
}
@media (max-width: 480px) {
  .buttons-wrapp{padding-top: 0;}
  .company-name{margin-bottom: 25px;}
  .expectations{padding-right: 0;}
  .buttons-wrapp .btn-primary{margin-bottom: 0;}
}
@media (max-width: 365px) {
  .col-xs-6 {width: 100%; }
}




