 <div class="item-wrapp">
    <div class="title">
      <div class="L_side title-text">{{process.position.title}}</div>
      <div class="status-box-wrapp R_side">
        <div class="status-box">{{candidateService.getStatusText(process)}}</div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="col-lg-10 col-md-10 col-xs-12">
      <div class="col-lg-4 col-md-4 col-xs-12">
        <div class="company-name">{{process.position.companyName}}</div>
        <div *ngIf="!deviceService.isMobile()" class="date-added">{{process.datAdded}}</div>
      </div>

      <div class="expectations col-lg-8 col-md-8 col-xs-12">
        <div class="expectations-wrapp col-lg-4 col-sm-3 col-xs-6">
          <div class="fulfillment col-lg-3 col-md-3 col-xs-2">
            <mat-icon class="vertical-center" [ngClass]="{'fulfilled': locationFulfilled, 'unfulfilled': !locationFulfilled}">{{locationFulfilled ? 'done' : 'clear'}}</mat-icon>
          </div>
          <div class="col-lg-9 col-md-9 col-xs-10">
            <div class="expectations-title">Preferred Location</div>
            <div class="expectations-value">{{process.position.location.name}}</div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="expectations-wrapp col-lg-4 col-sm-3 col-xs-6">
          <div class="fulfillment col-lg-3 col-md-3 col-xs-2">
              <mat-icon class="vertical-center" [ngClass]="{'fulfilled': technologyFulfilled, 'unfulfilled': !technologyFulfilled}">{{technologyFulfilled ? 'done' : 'clear'}}</mat-icon>
          </div>
          <div class="expectations-wrapp col-lg-9 col-md-9 col-xs-10">
            <div class="expectations-title">Technology</div>
            <div class="expectations-value">{{techFulfilledCount}} out of {{process.position.technologies.length}}</div>
          </div>
        </div>
        <div class="expectations-wrapp col-lg-4 col-sm-3 col-xs-6">
          <div class="fulfillment col-lg-3 col-md-3 col-xs-2">
              <mat-icon class="vertical-center" [ngClass]="{'fulfilled': sallaryFulfilled, 'unfulfilled': !sallaryFulfilled}">{{sallaryFulfilled ? 'done' : 'clear'}}</mat-icon>
          </div>
          <div class="col-lg-9 col-md-9 col-xs-10">
            <div class="expectations-title">Monthly sallary</div>
            <div class="expectations-value">{{process.position.salary | currency:'ILS':'symbol':'1.0-0'}} monthly</div>
          </div>

        </div>
      </div>
      <div *ngIf="!deviceService.isMobile()" class="techs col-lg-3 col-md-3 col-xs-12">
        <span *ngFor="let tech of process.position.technologies" class="tech">{{tech.name}}</span>
      </div>
    </div>

    <div *ngIf="isNew()" class="buttons-wrapp col-lg-2 col-md-2 col-xs-12">
      <button (click)="acceptProcess()" class="btn btn-primary R_side col-lg-12 col-md-12 col-xs-5">Accept</button>
      <button (click)="rejectProcess()" class="btn btn-secondary L-side col-lg-12 col-md-12 col-xs-5">Reject</button>
    </div>
    <div class="clear"></div>
 </div>


