/*.logo{position: absolute; width: 270px; padding-left: 155px; text-align: right; height: 50px;border-bottom: 2px solid #EBEBEB;padding-top: 10px; background-color: #FFF}

*/

.logo img{width: 100%;}
.logo img{height: 48px;padding: 10px 7px 10px 25px;min-width: 160px;}
.mobile.logo img{width: 100px; padding: 10px; min-width: 0;}
a.logo-link{min-width: 120px; width: 120px;opacity: 1;}
.mobile-menu-button{padding: 6px; background-color: #FFF;width: 40px; height: 40px;border: 2px solid #EBEBEB; border-radius: 7px;}
.button-wrapp{width: 50px; height: 50px;position: relative;}

.tab-link-wrapp {display: inline-block;}
.header {border-bottom: 2px solid #EBEBEB; background-color: #FFF}
.mat-tab-link{min-width: 120px;
  -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */}
.mat-tab-links > .tab-link-wrapp > a {width: auto; height: 68px; line-height: inherit; padding: 6px 25px; margin-left: 2px; margin-bottom: 0px; font-size: 14px; opacity: 1;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.mat-tab-links > .tab-link-wrapp > a[ng-reflect-active="true"] {background-color: #fff; border-color: transparent;}
/* main nav bar*/

.mat-tab-header{margin-left: 270px; background-color: #FFF}
.mat-tab-header .mat-tab-label-content{font-size: 13px;}
.mat-tab-labels .mat-tab-label{min-width: 130px;}
.mat-tab-header, .mat-tab-nav-bar {border-bottom: none;}

mat-sidenav .link-wrapp{border-bottom:2px solid #EBEBEB; height: 45px; width: 200px; text-align: center; line-height: 45px;}
mat-sidenav .link-wrapp a{width: 100%;}

.menu-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.basic-container {
  padding: 30px;
}

