<mat-sidenav-container *ngIf="deviceService.isMobile()" class="mobile menu-container">
  <div class="header">
    <div class="button-wrapp R_side">
      <button class="vertical-center mobile-menu-button" (click)="sidenav.toggle()">
        <mat-icon class="">menu</mat-icon>
        <div class="clear"></div>
      </button>
    </div>
    <div class="L_side mobile logo">
      <img src="assets/images/logo-candidate-header.svg">
    </div>
    <div class="clear"></div>
  </div>
  <div class="container">
    <div class="row">
      <router-outlet></router-outlet>
    </div>
  </div>
  <mat-sidenav #sidenav mode="push" position="end" (click)="sidenav.toggle()">
      <div class="link-wrapp">
        <a [routerLink]="['./home']" routerLinkActive="active-link">
          <div class="centered">{{'Home'}}</div>
        </a>
      </div>
      <div class="link-wrapp">
        <a [routerLink]="['./processes']" routerLinkActive="active-link">
          <div class="centered">{{'Processes'}}</div>
        </a>
      </div>
      <div class="link-wrapp">
        <a [routerLink]="['./profile']" routerLinkActive="active-link">
          <div class="centered">{{'Profile'}}</div>
        </a>
      </div>
  </mat-sidenav>
</mat-sidenav-container>

<div *ngIf="!deviceService.isMobile()">
  <div class="header">
    <nav mat-tab-nav-bar class="col-lg-12 col-md-12">
      <div class="tab-link-wrapp">
        <a mat-tab-link class="logo-link"
          [routerLink]="['./home']"
          routerLinkActive="active-link"
        >
          <div class="logo">
            <img src="assets/images/logo-candidate-header.svg">
          </div>
        </a>
      </div>
      <div class="tab-link-wrapp">
        <a mat-tab-link
          [routerLink]="['./home']"
          routerLinkActive="active-link"
        >
          <div class="centered">{{'Home'}}</div>
        </a>
      </div>
      <div class="tab-link-wrapp">
        <a mat-tab-link
          [routerLink]="['./processes']"
          routerLinkActive="active-link"
        >
          <div class="centered">{{'Processes'}}</div>
        </a>
      </div>
      <div class="tab-link-wrapp">
        <a mat-tab-link
          [routerLink]="['./profile']"
          routerLinkActive="active-link"
        >
          <div class="centered">{{'Profile'}}</div>
        </a>
      </div>
    </nav>
    <div class="clear"></div>
  </div>
  <div class="container">
    <div class="row">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>




<div *ngIf="false && !deviceService.isMobile()">
  <div class="logo">
    <img src="assets/images/logo-candidate-header.svg">
  </div>
  <mat-tab-group [selectedIndex]="1">
    <mat-tab label="Home">

    </mat-tab>
    <mat-tab label="Processes">
        <div class="container">
            <div class="row">
              <app-dahboard></app-dahboard>
            </div>
          </div>
    </mat-tab>
    <mat-tab label="Profile">

    </mat-tab>
  </mat-tab-group>
</div>


