/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* ==========================================================================
   GENERAL CSS
   ========================================================================== */
   html {top: 0 !important;}
   body {font-family: Roboto,"Helvetica Neue",sans-serif; background-color: #F8F8F8; color: #57595E; /*overflow-x: hidden;*/}
   button {display: block; border: 0;}
   a, span {display: inline-block;}
   a, a:active, a:hover, a:focus {text-decoration: none; color: #1DA0C6;}
   input{font-family: 'Open Sans Hebrew'; direction: ltr}
  .active-link{border-bottom: 3px solid #1DA0C6;}
  .logo-link.active-link{border-bottom: none;}

  .btn-primary {
      color: #fff!important;
      background-color: #18C48C!important;
      border-color: #18C48C!important;
  }
  .btn-primary:hover {
      color: #fff!important;
      background-color:rgb(23, 160, 114)!important;
      border-color: rgb(23, 160, 114)!important;
  }
  .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    color: #fff!important;
    background-color: #18C48C!important;
    border-color: #18C48C!important;
  }
  .btn-secondary {
    color: #fff!important;
    background-color: #ABB5B4!important;
    border-color: #ABB5B4!important;
  }
  .btn-secondary:hover {
      color: #fff!important;
      background-color: rgb(141, 146, 146)!important;
      border-color: rgb(141, 146, 146)!important;
  }
  .btn-secondary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    color: #fff!important;
    background-color: #ABB5B4!important;
    border-color: #ABB5B4!important;
  }

  .status-box{
    color: #fff!important;
    background-color: #ABB5B4!important;
    border-color: #ABB5B4!important;

    display: inline-block;
    padding: 6px 10px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }

  .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{background-color: #1DA0C6}

  /* main nav bar*/
  .mat-tab-header{border-bottom: 2px solid #EBEBEB; margin-left: 270px; background-color: #FFF}
  .mat-tab-header .mat-tab-label-content{font-size: 13px;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */}
  .mat-tab-labels .mat-tab-label{min-width: 130px;}

  /* dashboard nav bar*/
  app-dahboard .mat-tab-header{border-top: 2px solid #EBEBEB;border-bottom: 2px solid #EBEBEB;margin-bottom: 25px;margin-left: 0; background-color: #F8F8F8}
  app-dahboard .mat-tab-header .mat-tab-label-content{font-size: 14px;}
  app-dahboard .mat-tab-labels {align-items: start; justify-content: start;}
  .mobile app-dahboard .mat-tab-labels {align-items: center; justify-content: center;}
  app-dahboard .mat-tab-labels .mat-tab-label{min-width: 130px;}
  .mobile app-dahboard .mat-tab-labels .mat-tab-label{min-width: 80px;}
  app-dahboard .mat-tab-label-active{font-weight: bold;}

  @media (max-width: 365px) {
    .mat-tab-labels .mat-tab-label{padding: 0 12px;}
  }


   /*a:hover {text-decoration: underline;}*/

   ul, li {list-style: none; margin: 0; padding: 0;}
   img {max-width: 100%;}
   h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {margin: 0; font-size: inherit; line-height: inherit;}
   h1{font-size: 22px;font-weight: bold;}
   label.visuallyhidden {position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; border: 0; clip: rect(0 0 0 0); overflow: hidden;}
   .clear, .clr {display: block !important; float: none !important; clear: both !important; width: 0 !important; height: 0 !important; padding: 0 !important; margin: 0 !important;}
   .clear:before, .clr:before, .clear:after, .clr:after {display: none !important;}
   .L_side {float: left; padding-right: 0;}
   .R_side {float: right; padding-left: 0; padding-right: 0;}
   .display_none {display: none;}
   .centered {
     width: 100%;
     height: 100%;
     text-align: center;
     display: -webkit-box;
     display: -moz-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     -webkit-box-align: center;
     -moz-box-align: center;
     -ms-flex-align: center;
     -webkit-justify-content: center;
     justify-content: center;
     -webkit-box-pack: center;
     -moz-box-pack: center;
     -ms-flex-pack: center;
     -webkit-align-items: center;
     align-items: center;
   }

  .row {
    margin-right: -10px;
    margin-left: -10px;
  }

  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }


  /*
  @media (min-width: 768px){
    .container {width: 750px;}
  }
  @media (min-width: 992px){
    .container {width: 985px;}
  }
  @media (min-width: 1200px){
    .container {width: 985px;}
  }
  */

  @media (max-width: 1750px) {
    .container {
        width: 100%;
        margin: 0;
        padding: 0 200px;
    }
  }
  @media (max-width: 1470px) {
    .container {
        width: 100%;
        margin: 0;
        padding: 0 30px;
    }
  }
  @media (max-width: 768px) {
    .container {
        width: 100%;
        margin: 0;
        padding: 0 25px;
    }
    app-dahboard .mat-tab-header{
      margin-bottom: 0;
      margin-top: 20px;
    }
  }



  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10,.col-md-11,  .col-md-12,
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
   .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    padding-right: 0;
    padding-left: 0;
  }

  .page-placeholder{font-size: 30px; text-align: center; margin-top: 30%;}

